* {
    box-sizing: border-box;
    color: white;
    /* text-shadow: 1px 1px black; */
}

html, body {
    min-width: 380px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

header {
    height: 0;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

main {
    width: 95%;
    overflow: scroll;
}
canvas {
    background-color: white;
}

