* {
    box-sizing: border-box;
}

html, body {
    min-width: 360px;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

header {
    height: 0;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

main {
    width: 95%;
}

