label {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    /* margin-left: 5px;
    margin-right: 5px; */
    font-size: large;
    font-family: cursive;
}

input.input-box, textarea { 
    background: lightgrey;
    color: black;
}

#submit {
    display: block;
    font-weight: 400;
    background-color: burlywood;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% auto 5%;

}

#header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 30% auto 5%;
}

#forwrapper {
    display: grid;
    grid-template-rows: 10% auto 5%;
}

#submissionwrapper {
    grid-row: 2 / 3;
}

#footer {
    align-self: center;
}





/*above mobile layout */
@media(min-width: 641px) {
    
}


