label {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    /* margin-left: 5px;
    margin-right: 5px; */
    font-size: large;
    font-family: cursive;
}

input.input-box, textarea { 
    background: lightgrey;
}

#submit {
    display: block;
    color:  rgb(62, 11, 202);
    font-weight: 400;
    background-color: burlywood;
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 25% auto 5%;

}

#header {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 40% 60%;
}




/* mobile layout */
@media(min-width: 600px) {
    
}



/*desktop layout*/
@media(min-width: 768px) {
    body {
        background: dodgerblue;
    }}
