/* mobile layout */
@media(min-width: 320px) {
    body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
        grid-template-rows: auto;
        grid-gap: 1rem;
    }

    footer {
        margin: 0 auto;
        grid-column: 1 / 4;
        grid-row: 4 / 6;
    }

}



/*tablet layout*/
@media(min-width: 768px) {
    body {
        background: dodgerblue;
    }}

/*laptop layout*/
@media only screen and (min-width: 960px) {
    body {
        background: limegreen;
    }} 