<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

    <h1> Meet the Creators</h1>

  </header>

 


  <main id="aboutuscontent">
    <img class="img1" src="/authors/Yvette.png" width= 120px height= 100px/><h3 class="profile1">Hi, I’m Yvette Clapp.  My experience includes: BS in Business Administration, MBA in Finance, 15 years of management experience, Over 20 years of leadership experience, Completed courses in Data Analysis and Project Management, Currently attending DeltaV Coding School. I have proven experience in leading teams through process changes successfully. Many changes I have been involved in improved the SLAs of the department significantly. Process efficiency is a passion for me. This passion has generated many process changes that greatly reduces human error and an increase in SLA results. My goal is to continually improve myself and most recently to reinvent myself into a career in website coding where I can utilize my passions to the benefit of the customer.</h3>

    <img class="img2" src="/authors/Scott.jpg" width= 120px height= 100px/><h3 class="profile2">Hi, I am Scott Bisese and I have lived in too many places to list, but I was born in Atlanta, GA and have spent most of my time in Tennessee (Chattanooga and Nashville) as well as Iowa, (Fairfield and Cedar Rapids). I have a background in cooking (15 years), bartending, serving, and restaurant management. Since coming to Iowa in 2012 I have finished my bachelor's degree in business management. I have had an extensive musical career in Nashville, TN and although music is one of the main focuses of my life I am currently switching gears to study coding at deltaV and I aim to have an entry level position lined up by the end of summer.</h3>

    <img class="img3" src="/authors/Brennan.jpg" width= 120px height= 100px/><h3 class="profile3">Hi, I am Brennan Roorda, I am a software developer student. After years of working many different jobs, many temp jobs, i decided I really needed a career. I stumbled into DeltaV and have been loving it ever since. I enjoy using my desire to create new things, and utilize my problem solving and troubleshooting skills.  I can't wait to learn more about server-side programming in 401, and start my new career.</h3>

    <img class="img4" src="/authors/Francesco.png" width= 120px height= 100px/><h3 class="profile4">My name is Francesco Troiano. I am a current student of the DeltaV code 201 course, and come from Waterloo, IA. I had worked in many customer service jobs prior to coming to Cedar Rapids to begin my coding career. I had moved into this field at the advice of a good friend and with knowledge of an ever growing market. I had heard some things about becoming a full stack developer and figured my ability to bring people together would fit perfectly into a world of people coming from all different backgrounds. I come from many jobs that have celebrated diversity and awareness, and helped lead some of those fronts and am excited to continue that development into the wonderful world of coding.</h3>
    
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>