<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

    <h1> Meet the Creators</h1>

  </header>

 


  <main id="main-content">
    <h3 class="profile"><img src="/authors/Yvette.png" width= 120px height= 100px/>This will be text coming from the picture</h3>
    <h3 class="profile">This will be text going to the picture<img src="/authors/Scott.jpg" width= 120px height= 100px/></h3>
    <h3 class="profile"><img src="/authors/Brennan.jpg" width= 120px height= 100px/>This will be text coming from the picture</h3>
    <h3 class="profile">This will be text going to the picture<img src="/authors/Francesco.png" width= 120px height= 100px/></h3>
    
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>