<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

 


  <main id="main-content">
    <h3 class="profile"><img src="placeholder.it/000"/>This will be text coming from the picture</h3>
    <h3 class="profile"><img src="placeholder.it/000"/>This will be text going to the picture</h3>
    <h3 class="profile"><img src="placeholder.it/000"/>This will be text coming from the picture</h3>
    <h3 class="profile"><img src="placeholder.it/000"/>This will be text going to the picture</h3>
    
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>