<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
  
</head>

<body>
  <header id="header">

    <%- include('../layout/header') %>

  </header>

 


  <main id="main-content">

    <section>Error. It did not work. Do not pass go. Do not collect $200. 
        <%= error %>
    </section>
    
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>