<!DOCTYPE html>
<html lang="en-us">

<head>

  <%- include('../layout/head') %>
  
</head>

<body>
  <header id="mainHeader">
    <p> Spend your Quarantime Together!</p>
  </header>

 


  <main id="main-content">

    <ul id="gridwrapper">
      <li class="submission">
        <a href="/views/pages/submission">Share your story</a>
      </li>
      <li class="stories">
        <a href="/views/pages/stories">Read stories</a>
      </li>
      <li class="search">
        <a href="/views/pages/search">Covid Data</a>
      </li>
      <li class="aboutUs">
        <a href="/views/pages/aboutUs"> About Us</a>
      </li>
    </ul>


    <!-- Twitter API -->
    
  </main>

  <footer id="footer">

    <%- include('../layout/footer') %>

  </footer>
</body>

</html>