<header id="header">
    
    <nav id="site-nav">
      <ul>
        <li>
          <a href="/views/pages/index.ejs">Home</a>
        </li>
        <li>
          <a href="/views/pages/submission.ejs">Share your story</a>
        </li>
        <li>
          <a href="/views/pages/stories.ejs">Read stories</a>
        </li>
        <li>
          <a href="/views/pages/search.ejs">Covid Data</a>
        </li>
        <li>
          <a href="/views/pages/aboutUs.ejs"> About Us</a>
        </li>
      </ul>
    </nav>

  </header>