<header id="header">
    
    <nav id="site-nav">
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/views/pages/submission">Share your story</a>
        </li>
        <li>
          <a href="/views/pages/stories">Read stories</a>
        </li>
        <li>
          <a href="/views/pages/search">Covid Data</a>
        </li>
        <li>
          <a href="/views/pages/aboutUs"> About Us</a>
        </li>
      </ul>
    </nav>

  </header>