<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Quarantimes Together</title>
        <meta name="description" content="">
        <link rel="stylesheet" href="/css/reset.css">
        <link rel="stylesheet" href="/css/main.css">
        <!-- <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet"> -->
        <link rel="icon" type="image/x-icon" href="/images/qtFavicon.png">      
        <link href="https://fonts.googleapis.com/css?family=Parisienne&display=swap" rel="stylesheet">
        <!-- <script src="https://kit.fontawesome.com/34d2960b01.js" crossorigin="anonymous"></script>   -->